.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: 'Dancing Script', cursive;
}

.App-body-mid-div {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.App-mid-innerbase-div {
  top: 40px;
  background-color: white;
  height: 780px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.App-mid-top-left-arc-div {
  height: 70px;
  width: 70px;
  float: left;
  background-image: url("images/top-left.png");
}

.App-mid-top-right-arc-div {
  height: 70px;
  width: 70px;
  float: right;
  background-image: url("images/top-right.png");
}

.App-mid-name-div {
  height: 120px;
  width: 90%;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: -20px;
  margin-bottom: 20px;
}

.App-mid-name-div h1 {
  font-weight: normal;
}

.App-mid-name-div h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.App-mallory-div {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  align-items: center;
}

.App-ampersand-div {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}

.App-bori-div {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  align-items: center;
}

.App-uppermid-div {
  width: 90%;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.App-save-the-date-h1 {
  margin-bottom: 0; 
  margin-top: 0; 
  font-size: 50px; 
  color: turquoise;
}

.App-date-div {
  width: 90%;
  height: 150px;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.App-horizontal-line {
  width: 100%;
}

.App-month-div {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-month-div p {
  font-size: 30px;
  margin: 5px;
}

.App-day-div {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
}

.App-day-div p {
  font-size: 45px;
}

.App-year-div {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-year-div p {
  font-size: 30px;
  margin: 5px;
}

.App-location-div {
  margin-top: -20px;
  width: 90%;
  height: 90px;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.App-location-div h1 {
  margin: 0;
  font-weight: normal;
}

.App-mid-bottom-horizontal-line-div {
  width: 100%;
  height: 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.App-bottom-horizontal-line {
  color: #800020;
  width: 90%;
}

.App-webiste-info-div {
  width: 90%;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 2.2em;
  font-family: 'Tangerine', cursive;
}

.App-webiste-info-div p {
  margin: 0;
}

.App-mid-initials-div {
  margin-top: 30px;
  width: 50%;
  height: 120px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 70px;
  font-family: 'Sacramento', cursive;
}

.App-mid-initials-vertical-line-div {
  height: 80%;
  width: 2px;
  color: #800020;
  background-color: #800020;
  margin: 20px;
  margin-bottom: 45px;
}

.App-mid-bottom-left-arc-div {
  height: 70px;
  width: 70px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-image: url("images/bottom-left.png");
}

.App-mid-bottom-right-arc-div {
  height: 70px;
  width: 70px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background-image: url("images/bottom-right.png");
}

.App-body-left-div {
  width: 25%;
  font-size: 20px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
}

.App-body-left-div p {
  font-size: 7em;
  color: turquoise;
  margin-left: -32px;
}

.App-body-right-div {
  width: 25%;
  font-size: 20px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
}

.App-body-right-div p {
  font-size: 7em;
  color: turquoise;
}

.App-body-detail {
  font-size: 250%;
  font-family: 'Merienda One', cursive;
}

.App-header {
  background-color: #800020;
  height: 0em;
  color: white;
}

@media only screen and (max-width : 1160px) {
  .App-mallory-div {
    font-size: 1.3em;
  }

  .App-bori-div {
    font-size: 1.3em;
  }
}

@media only screen and (max-width : 980px) {
  .App-mallory-div {
    font-size: 1em;
  }

  .App-bori-div {
    font-size: 1em;
  }
}

@media only screen and (max-width : 880px) {
  .App-mid-initials-div {
    font-size: 50px;
  }

  .App-body-mid-div {
    width: 66%;
  }

  .App-body-right-div {
    margin-top: 150px;
    width: 17%;
  }

  .App-body-right-div p {
    font-size: 7em;
  }

  .App-body-left-div {
    margin-top: 150px;
    width: 17%;
  }

  .App-body-left-div p {
    font-size: 7em;
  }


  .App-mid-top-left-arc-div {
    height: 35px;
    width: 35px;
    background-image: url("images/top-left-small.png");
  }
  
  .App-mid-top-right-arc-div {
    height: 35px;
    width: 35px;
    background-image: url("images/top-right-small.png");
  }

  .App-mid-bottom-left-arc-div {
    height: 35px;
    width: 35px;
    background-image: url("images/bottom-left-small.png");
  }
  
  .App-mid-bottom-right-arc-div {
    height: 35px;
    width: 35px;
    background-image: url("images/bottom-right-small.png");
  }

  .App-mid-initials-div {
    /* margin-top: 50px; */
  }

  .App-mid-initials-vertical-line-div {
    height: 80%;
  }
}

@media only screen and (max-width : 880px) {
  .App-body-right-div {
    margin-top: 275px;
  }

  .App-body-right-div p {
    font-size: 4em;
  }

  .App-body-left-div {
    margin-top: 275px;
  }

  .App-body-left-div p {
    font-size: 4em;
    margin-left: -20px;
  }

  .App-mid-initials-vertical-line-div {
    /* height: 80%; */
    margin-bottom: 35px;
  }
}

@media only screen and (max-width : 680px) {
  .App-ampersand-div {
    font-size: 25px;
  }

  .App-save-the-date-h1 {
    font-size: 44px; 
  }

  .App-body-left-div {
    margin-top: 300px;
  }

  .App-body-right-div {
    margin-top: 300px;
  }

  .App-body-left-div p {
    font-size: 3em;
  }

  .App-body-right-div p {
    font-size: 3em;
  }

  .App-webiste-info-div {
    font-size: 1.1em;
  }
}

@media only screen and (max-width : 510px) {
  .App-body-mid-div {
    width: 80%;
    margin-left: -100px;
  }

  .App-body-right-div {
    display: none;
  }

  .App-body-left-div {
    display: none;
  }

  .App-save-the-date-h1 {
    font-size: 42px; 
  }

  .App-webiste-info-div {
    font-size: 1em;
  }
}

@media only screen and (max-width : 420px) {
  .App-mid-initials-div {
    font-size: 40px;
    height: 80px;
    width: 60%;
    margin-top: 70px;
  }

  .App-mid-initials-vertical-line-div {
    height: 80%;
    margin: 10px;
    margin-left: 15px;
  }
}
@media only screen and (max-width : 400px) {
  .App-mid-innerbase-div {
    height: 1080px;
  }

  .App-mid-name-div {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: 0;
    align-items: center;
    font-size: 0.9em;
  }
  
  .App-ampersand-div {
    margin-top: 0;
    margin-bottom: 0;
  }

  .App-uppermid-div {
    font-size: 15px;
  }

  .App-save-the-date-h1 {
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-size: 35px; 
    color: turquoise;
  }

  .App-date-div {
    align-items: center;
    height: 250px;
    flex-direction: column;
    margin-top: 25px;
  }

  .App-month-div p {
    font-size: 25px;
    margin: 5px;
  }

  .App-day-div p {
    font-size: 40px;
    margin-top: 15px;
  }

  .App-year-div p {
    font-size: 25px;
    margin: 5px;
  }

  .App-location-div {
    margin-top: 20px;
    font-size: 13px;
  }

  .App-mid-initials-div {
    font-size: 40px;
    height: 80px;
    width: 60%;
    margin-top: 70px;
  }

  .App-mid-initials-vertical-line-div {
    height: 80%;
    margin: 10px;
    margin-left: 15px;
  }
}

@media only screen and (max-width : 327px) {
  .App-mid-innerbase-div {
    height: 1100px;
  }
  .App-mid-initials-div {
    font-size: 40px;
    height: 80px;
    width: 60%;
    margin-top: 30px;
  }
}