.Homepage-top-image-div {
    height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
    font-family: 'Merienda One', cursive;
    z-index: -1;
}

.Homepage-top-image-text-div {
    width: 100%;
    margin-top: -110px;
    color: white;
    vertical-align: middle;
}

.Homepage-top-image-text-div h1 {
    margin: 0;
}

.Homepage-top-image {
    height: 100%;
    width: 100%;
    background: url("home-picture.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Middle section */

.Homepage-mid-base-div {
    width: 100%;
    height: 1500px;
    background-color: #800020;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    /* display: table-cell; */
}

.Homepage-mid-innerbase-div {
    top: 40px;
    background-color: rgb(247, 247, 234);
    height: 1000px;
    width: 80%;
    position: relative;
    display: inline-block;
}

.Homepage-mid-name-div {
    top: 40px;
    background-color: black;
    height: 400px;
    width: 60%;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;  
}


@media only screen and (max-width : 660px) {
    .Homepage-top-image-div {
        height: 420px;
    }
}

@media only screen and (max-width : 570px) {
    .Homepage-top-image-div {
        height: 400px;
    }
}

@media only screen and (max-width : 510px) {
    .Homepage-top-image-div {
        height: 300px;
    }
}

@media only screen and (max-width : 445px) {
    .Homepage-top-image-div {
        height: 250px;
    }

    .Homepage-top-image-text-div {
        margin-top: -80px;
        font-size: 0.75em;
    }

    .Homepage-mid-base-div {
        height: 1500px;
        margin-top: 40px;
    }
}