.MidSection-base-div {
    width: 100%;
    margin-top: 220px;
    text-align: center;
    position: relative;
    display: inline-flex;
    justify-content: center
}

.MidSection-content-div {
    width: 80%;
    display: flex;
    position: relative;
    height: 500px;
    background-color: green;
}