.MidSection-parent-div {
    width: 100%;
    background-color: #800020;
    position: relative;
    font-family: 'Merienda One', cursive;
}

.MidSection-body-content-div {
    width: 80%;
    background-color: white;
    display: inline-grid;
    margin-top: 80px;
    position: inherit;
}

.MidSection-mid-top-left-arc-div {
    height: 70px;
    width: 70px;
    float: left;
    background-image: url("images/top-left.png");
}

.MidSection-mid-top-right-arc-div {
    height: 70px;
    width: 70px;
    float: right;
    background-image: url("images/top-right.png");
    right: 0;
    position: absolute;
}

.MidSection-inner-div {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.MidSection-mid-bottom-left-arc-div {
    height: 70px;
    width: 70px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("images/bottom-left.png");
}

.MidSection-mid-bottom-right-arc-div {
    height: 70px;
    width: 70px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("images/bottom-right.png");
}

.MidSection-footer-divider-div {
    margin-top: 50px;
    width: 100%;
    height: 2px;
    background-color: white
}

@media only screen and (min-height : 1366px) {
    .MidSection-footer-divider-div {
        margin-top: 162px;
    }
}

@media only screen and (max-width : 767px) {
    .MidSection-mid-top-right-arc-div {
        height: 35px;
        width: 35px;
        background-image: url("images/top-right-small.png");
        right: 0;
        position: absolute;
    }

    .MidSection-mid-top-left-arc-div {
        height: 35px;
        width: 35px;
        float: left;
        background-image: url("images/top-left-small.png");
    }

    .MidSection-mid-bottom-left-arc-div {
        height: 35px;
        width: 35px;
        position: absolute;
        background-image: url("images/bottom-left-small.png");
    }
    
    .MidSection-mid-bottom-right-arc-div {
        height: 35px;
        width: 35px;
        position: absolute;
        background-image: url("images/bottom-right-small.png");
    }

    .MidSection-inner-div {
        margin-bottom: 35px;
    }
}
