.TopHeader {
    height: 100%;
    width: 100%;
    font-family: 'Merienda One', cursive;
    color: white;
}

.Top-row-div {
    font-size: 0.8em;
    position: relative;
}

.Top-row-div-date-location {
    float: left;
    margin-right: 1.5625em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.Top-row-div-hashtag {
    float: right;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.Header-title-dummy {
    float: center;
    font-size: 0.5em;
    letter-spacing: 0.3em;
    color: transparent;
}

.Header-title {
    float: center;
    font-size: 1.2em;
    letter-spacing: 0.7em;
    margin-top: -1em;
}

.Header-nav-buttons-div {
    text-align: center;
    font-size: 1em;
    margin-top: -0.8em;
}

.Header-nav-buttons {
    margin-left: 3.5em;
}

.Header-nav-buttons:hover {
    text-decoration: underline;
    color: teal;
}

.Header-nav-buttons-first {
    align-content: center;
}

.Header-nav-buttons-first:hover {
    text-decoration: underline;
    color: teal;
}

/* hide hamburger menu */
.Header-hamburger-div {
    display: none;
}

.Header-dropdown-div {
    display: none;
}

@media only screen and (max-width : 610px) {
    .Top-row-div {
        display: none
    }

    .Header-title {
        float: left;
        font-size: 1em;
        letter-spacing: 0.5em;
        margin-top: -3.55em;
    }

    .Header-nav-buttons-div {
        display: none;
    }

    .Header-hamburger-div {
        width: 2.5em !important;
        float: right;
        margin-top: -1.6875em;
        display: block;
    }

    .Header-dropdown-div {
        width: 110%;
        height: 18em;
        display: inline-block;
        margin-top: -0.71875em;
        margin-left: -1.25em;
        background-color: #800020;
        opacity: 0.8;
        filter: alpha(opacity=80);
        animation-name: dropdown;
        animation-duration: 1s;
    }

    .Header-dropdown-buttons-div {
        height: 100%;
        width: 100%;
        /* animation-name: buttonsfade;
        animation-duration: 0.2s;
        animation-delay: 1.5s; */
    }

    .Header-dropdown-each-button {
        display: block;
        margin-bottom: 20px;
        margin-block-start: 10px;
        font-size: 1.5em;
        /* animation-name: buttonsfade;
        animation-duration: 0.2s;
        animation-delay: 1.5s;
        opacity: 1; */
    }

    .Header-dropdown-each-button:hover {
        text-decoration: underline;
        color: teal;
    }

    @keyframes dropdown {
        from { 
            height: 0em;
        }
        to { 
            height: 18em; 
        }
    }

    @keyframes buttonsfade {
        from {
            opacity: 0;
            filter: alpha(opacity=0);
        }
        to {
            opacity: 1.0;
            filter: alpha(opacity=100);
        }
    }
}

@media only screen and (max-width : 480px) {
    .Top-row-div {
        display: none
    }

    .Header-title {
        float: left;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        margin-top: -3.7em;
    }

    .Header-nav-buttons-div {
        display: none;
    }
}