.TopHeader {
    height: 100%;
    width: 100%;
    font-family: 'Merienda One', cursive;
    color: white;
}

.Top-row-div {
    font-size: 0.8em;
    position: relative;
}

.Top-row-div-date-location {
    float: left;
    margin-right: 1.5625em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.Top-row-div-hashtag {
    float: right;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.Header-title-dummy {
    float: center;
    font-size: 0.5em;
    letter-spacing: 0.3em;
    color: transparent;
}

.Header-title {
    float: center;
    font-size: 1.2em;
    letter-spacing: 0.7em;
    margin-top: -1em;
}

.Header-nav-buttons-div {
    text-align: center;
    font-size: 1em;
    margin-top: -0.8em;
}

.Header-nav-buttons {
    margin-left: 3.5em;
}

.Header-nav-buttons:hover {
    text-decoration: underline;
    color: teal;
}

.Header-nav-buttons-first {
    align-content: center;
}

.Header-nav-buttons-first:hover {
    text-decoration: underline;
    color: teal;
}

/* hide hamburger menu */
.Header-hamburger-div {
    display: none;
}

@media only screen and (max-width : 600px) {
    .Top-row-div {
        display: none
    }

    .Header-title {
        float: left;
        font-size: 1em;
        letter-spacing: 0.5em;
        margin-top: -3.55em;
    }

    .Header-nav-buttons-div {
        display: none;
    }

    .Header-hamburger-div {
        width: 40px !important;
        float: right;
        margin-top: -27px;
        display: block;
    }

}

@media only screen and (max-width : 480px) {
    .Top-row-div {
        display: none
    }

    .Header-title {
        float: left;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        margin-top: -3.7em;
    }

    .Header-nav-buttons-div {
        display: none;
    }
}